<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DGU INTERNATIONAL OFFICE</title>
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      .container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .title {
        margin-top: 50px;
        font-size: 25px;
        color: blueviolet;
      }
      .links {
        margin: 20px;
      }
      .links a {
        color: #000;
        background: greenyellow;
        text-decoration: none;
        margin-right: 10px;
        font-size: 18px;
        padding: 5px 15px;
        border-radius: 20px;
      }
      .links a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="container">
      {% load static %} <img src="{% static "logo.svg" %}" alt="logo"/>
      <h1>DGU INTERNATIONAL PLATEFORM</h1>
      <div class="links">
        <center class="title">Useful links:</center>
        <div style="margin-top: 20px">
          <a href="{% url 'admin:index' %}">Admin</a>
          <a href="{% url 'api-root' %}">Api Root</a>
          <a href="{% url 'swagger-ui' %}">Swagger</a>
          <a href="{% url 'redoc' %}">Redoc</a>
        </div>
      </div>
    </div>
  </body>
</html>
